
footer{
    position:relative;
    bottom:0 ;
    padding: 1rem 0;
    width: 100%;
    background: var(--bg-footer);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    margin-top: 12rem;
    align-items: center;
}


footer h3{
    font-weight: 500;
    font-size: 18px;
}


footer div{
    display: flex;
    gap: 2rem;
}

footer span p{
    font-size: 12px;
    font-weight: 300;
}

footer button{
    padding: .5rem;
}

.show:hover{
    transform: translate(5px);
    color: var(--bg-footer);
    background: #dadada;
    font-weight: 500;
}

.hr{
    border: 1px solid white;
    height: 40px;
}