*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-feature-settings: inherit;
}

:root {
    --padding-button: .8rem 1.5rem;
    --bg-btn: transparent;
    --border-radius-btn: 5px;
    --color-button-hover: rgb(92, 141, 255);
    --font-size: 17px;

    --secundary-color: rgb(64, 129, 213);
}

.active{
    border-bottom: 3px solid var(--secundary-color);
    color: black;
    font-weight: 600;
    padding: .4rem;
}

button{
    all: unset;
    cursor: pointer;
    box-sizing: border-box;

}
